* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #23252c;
}

.center {
    text-align: center;
    align-items: center;
}

.main {
    background-color: #1a1b21;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    border-radius: 10px;
    padding: 2%;
}

.des {
    color: #caa082;
}

.font {
    color: white;
}

small {
    display: block;
}

small, p {
    font-size: 10px;
}

.footer {
    background-color: #161619;
}

h3, p {
    margin: 0%;
}